@model IEnumerable<EniacSpi.Areas.Admin.Models.HostListViewModel>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { Name = item.Name })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    var State = "@ViewBag.State";
    function ListeningUrl() {
        if(State == "Start"){
            return "@Url.Action("StartListening", "Host", new { Area = "Admin"} )";
        }
        else{
            return "@Url.Action("StopListening", "Host", new { Area = "Admin" })";
        }
    }

    function listen() {
        $.ajax({
            type: "GET",
            url: ListeningUrl(),
            cache: false,
            success: function (result) {
                if (State == "Start") {
                    State = "Stop";
                }
                else {
                    State = "Start";
                }

                $("#ListenBtn").text(State + " Listening");
            },
            error: function () {
                alert("Something went wrong, you should go pay for software if this bothers you");
            }
        });
    }
</script>
<a id="ListenBtn" class="btn btn-default" onclick="listen()">@ViewBag.State Listening</a>
