@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EniacSpi</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body id="background">
    <nav class="navbar navbar-default navbar-fixed-top" id="navbar-style">
        <div class="navbar-header"id="navBrand" >
            <a class="navbar-brand"  href="#"><img src="~/Content/Images/EniacLogo.png"/></a>            
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-left">
                <label id="navTitle">EniacSpi</label>
                @if (Request.IsAuthenticated)
                {
                    if (ViewBag.currentPage != null) {
                        <label id="navCurrentPage">@ViewBag.currentPage</label>
                    }
                }                
            </div>
            @if (Request.IsAuthenticated)
            {
            <ul class="nav navbar-nav navbar-right">
                <li>Hello, @User.Identity.GetUserName()!</li>
                <li id="logoffBtn">
                    <a href="@Url.Action("LogOff", "Account")">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </li>
            </ul>
            }
        </div>
    </nav>
        <div class="container col-xs-12">
            <div class="sub-container">
                @if (Request.IsAuthenticated)
                {
                    <div class="col-xs-1">
                        <div id="menu">
                            <div class="container col-xs-12" id="menu-items">
                                <ul>
                                    <li title="Settings"><a href="@Url.Action("Index", "Home")" class=""><span class="glyphicon glyphicon-home"></span></a></li>
                                    <li title="Settings"><a href="@Url.Action("Index", "Board")" class=""><span class="glyphicon glyphicon-tasks"></span></a></li>
                                    <li title="Settings"><a href="#" class=""><span class="glyphicon glyphicon-user"></span></a></li>
                                    <li title="Settings"><a href="#" class=""><span class="glyphicon glyphicon-cog"></span></a></li>
                                    @if (ViewBag.Home)
                                    {
                                        <li title="Add Log/Note"><a href="#" class=""><span class="glyphicon glyphicon-plus"></span></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-11">
                        @RenderBody()
                    </div>
                } else
                {
                    @RenderBody()
                }

            </div>            
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>