@model EniacSpi.Models.HostNetworkInformationModel
<br />
<table>
    <tr>
        <td style="padding-right:20px">
            <b>@Html.DisplayNameFor(model => model.SSID)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.SSID)
        </td>
    </tr>

    <tr>
        <td style="padding-right:20px">
            <b>@Html.DisplayNameFor(model => model.MAC)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.MAC)
        </td>
    </tr>

    <tr>
        <td style="padding-right:20px">
            <b>@Html.DisplayNameFor(model => model.Security)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Security)
        </td>
    </tr>

    <tr>
        <td style="padding-right:20px">
            <b>@Html.DisplayNameFor(model => model.Signal)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.Signal)
        </td>
    </tr>
</table>
<br />
<a id="SelectNetworkButton" class="btn btn-default" href="@Url.Action("SelectNetwork", "Host", new { Name = ViewBag.HostName, selectedMAC = Model.MAC})">Select</a>
<br />