@model EniacSpi.Models.HostNetworkInformationModel

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SSID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Security)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Signal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Signal)
        </dd>

    </dl>
</div>
