@model EniacSpi.Models.HostNetworkInfiltrationStatusModel

<script type="text/javascript">
    @*$(function () {
        var es = new EventSource(@Url.Action("NetworkInfiltrationStatusChanged", "Host", new { Name = ViewBag.HostName }));
        es.onmessage = function (e) {
            var table = $('InfiltrationStatus');
            var Status = JSON.parse(e.data)
            $.each(Status.GPUs, function (index, value) {
                table.append('<tr> <td>' + value.Id + '</td> </tr>')
            });
        };
        es.onerror = function () {
            console.log(arguments);
        };
    });*@
</script>

<br />
<table id="InfiltrationStatus">
    <tr>
        <td colspan="2"><b>@Html.DisplayNameFor(model => model.Condition)</b></td>
        <td colspan="2" style="padding-left: 25px">@Html.DisplayFor(model => model.Condition)</td>
    </tr>

    <tr>
        <th>Id</th>
        <th style="padding-left: 25px">Load</th>
        <th style="padding-left: 25px">Speed</th>
        <th style="padding-left: 25px">Temperature</th>
    </tr>
    @foreach (var gpu in Model.GPUs)
    {
        <td id="@Html.DisplayName(gpu.Id.ToString())">@Html.Raw(gpu.Id.ToString())</td>
        <td id="@Html.DisplayName(gpu.Load.ToString())" style="padding-left: 25px">@Html.Raw(gpu.Load.ToString())</td>
        <td id="@Html.DisplayName(gpu.Speed.ToString())" style="padding-left: 25px">@Html.Raw(gpu.Speed.ToString())</td>
        <td id="@Html.DisplayName(gpu.Temperature.ToString())" style="padding-left: 25px">@Html.Raw(gpu.Temperature.ToString())</td>
    }
</table>
