@model EniacSpi.Models.WidgetListViewModel
@section scripts{
    <script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/Scripts/lodash.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/Scripts/gridstack.js"></script>
    <script>
        $(function () {
            var options = {
                float: true,
                resizable: { disabled: true },
                animate: true
            };
            $('.grid-stack').gridstack(options);


            $('.grid-stack').on('change', function (e, items) {
                var grid = save_grid();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateCookie", "Board")",
                    cache: false,
                    data: {widgets: grid}
            });
            });

            save_grid = function () {
                serialized_data = _.map($('.grid-stack > .grid-stack-item:visible'), function (el) {
                    el = $(el);
                    return JSON.stringify( {
                        x: el.attr('data-gs-x'),
                        y: el.attr('data-gs-y'),
                        Name: el.attr('id')
                    });
                }, this);
                return serialized_data;
            };
        });
    </script>
}
<link rel="stylesheet" type="text/css" href="~/Content/Dashboard.css">
<link rel="stylesheet" type="text/css" href="~/Content/gridstack.css">

<h2>Dashboard</h2>
<hr />
<div class="grid-stack">
    @foreach (var widget in Model.Widgets)
    {
        <div id="@widget.Name" class="grid-stack-item"
         data-gs-x=@widget.PositionX data-gs-y=@widget.PositionY
         data-gs-width=2 data-gs-height=3>
            <div class="grid-stack-item-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-10">
                                <h3> @widget.Name </h3>
                            </div>
                            <div class="col-md-2">
                                <h3><a href=@Url.Action("Index", "Settings", new { Name = widget.Name })><span class="glyphicon glyphicon-cog pull-right"></span></a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        a host somethin something
                        <a href="@Url.Action("Index", "Host", new { Name = widget.Name })"> See full </a>
                    </div>
                    <div class="panel-footer">
                        @widget.Address
                    </div>
                </div>
            </div>
        </div>
    }
</div>
